@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
.signup{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.signup img{
    margin-top: 3%;
    width: 55%;
    height: 70vh;
}

.signupForm {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signupForm .heading span{
    font-size: 25px;
}

.signupForm .form{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.signupForm .form input{
    width: 70%;
    height: 10%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.signupForm .form input::placeholder{
    font-family: 'Poppins', sans-serif;
}

.signupForm .signupBtn{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.signupForm .signupBtn button{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #DB4444;
    color: white;
    cursor: pointer;
}
.signupForm .signupBtn button:hover{
    background-color: white;
    color: #DB4444;
    transition: 1s;
}

@media screen and (max-width: 769px){
    .signup img{
        display: none;
    }
    .signup{
        width: 100%;
        height: 100vh;
    }
    .signup .signupForm{
        width: 100%;
        height: 100%;
    }
    .signup .signupForm .form input{
        width: 100%;
    }
}